# for explainer
anthropic[bedrock]
chatlas
dotenv
openai

# for mcp client
mcp
anthropic
python-dotenv

# for mcp server
fastmcp

# bedrock
boto3

# aws inline agents
inlineagent @ git+https://github.com/awslabs/amazon-bedrock-agent-samples@main#egg=inlineagent&subdirectory=src/InlineAgent
